db.sqlite3
__pycache__
*.pyc
.envrc
.env
.env.*
!.env.example
.direnv
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
controlling/static/vendor/
staticfiles/
branding/*
!branding/.gitkeep
sap_data/
.DS_Store
