<table class="table">
    <thead>
        <tr>
            <th scope="col"></th>
            <th scope="col">Laufzeit</th>
            <th scope="col">Budget</th>
            <th scope="col">Personalbudgets</th>
            <th scope="col">Andere Budgets</th>
            <th scope="col">Overhead</th>
        </tr>
    </thead>
    <tbody>
        {% for project in projects %}
            <tr>
                <th scope="row"><a href="{% url 'projects:details' project.acronym %}">{{ project.acronym }}</a></th>
                <td>
                    {{ project.start_date }} - {{ project.end_date }}
                    {% if project.extension_planning_date and project.extension_planning_date > project.end_date %}
                        <br><span class="text-muted">kostenneutrale Verlängerung bis {{ project.extension_planning_date }}</span>
                    {% endif %}
                </td>
                <td>{% include "controlling/_budget_usage.html" with used=project.used_budget budget=project.usage_budget percent=project.usage_percent rebooked=project.rebooked_used rebooked_percent=project.rebooked_percent %}</td>
                <td>
                    {% for budget in project.staffbudgetitem_set.all %}
                        <div class="mb-2">
                            <div>{{ budget.short_title }}:</div>
                            {% include "controlling/_budget_usage.html" with used=budget.used budget=budget.amount percent=budget.usage_percent rebooked=budget.rebooked_used rebooked_percent=budget.rebooked_percent %}
                        </div>
                    {% endfor %}
                </td>
                <td>
                    {% for budget in project.otherbudgetitem_set.all %}
                        <div class="mb-2">
                            <div><a href="{% url 'projects:other_budget_items' project.acronym %}#budget-{{ budget.id }}">{{ budget.short_title }}</a>:</div>
                            {% include "controlling/_budget_usage.html" with used=budget.used budget=budget.amount percent=budget.usage_percent %}
                        </div>
                    {% endfor %}
                </td>
                <td>
                    {% for budget in project.overheadbudgetitem_set.all %}
                        <div>
                            Gesamt: €&nbsp;{{ budget.amount }}<br>
                            {% if OVERHEAD_SPLIT_ENABLED %}
                                {% for share in budget.overheadbudgetitemshare_set.all %}
                                    {{ share.institute }}: {{ share.percentage }}%{% if share.institute.is_own_chair %} ✓{% endif %}<br>
                                {% endfor %}
                                Verfügbar (Lehrstuhl): €&nbsp;{{ budget.available_amount }}
                            {% endif %}
                        </div>
                    {% endfor %}
                </td>
            </tr>
        {% endfor %}
    </tbody>
    <tfoot>
        <tr class="fw-bold">
            <th scope="row">Summe</th>
            <td></td>
            <td>{% include "controlling/_budget_usage.html" with used=project_totals.used budget=project_totals.budget percent=project_totals.usage_percent rebooked=project_totals.rebooked_used rebooked_percent=project_totals.rebooked_percent %}</td>
            <td>{% include "controlling/_budget_usage.html" with used=project_totals.staff_used budget=project_totals.staff percent=project_totals.staff_percent rebooked=project_totals.staff_rebooked_used rebooked_percent=project_totals.staff_rebooked_percent %}</td>
            <td>{% include "controlling/_budget_usage.html" with used=project_totals.other_used budget=project_totals.other percent=project_totals.other_percent %}</td>
            <td>
                Gesamt: €&nbsp;{{ project_totals.overhead }}
                {% if OVERHEAD_SPLIT_ENABLED %}<br>Verfügbar (Lehrstuhl): €&nbsp;{{ project_totals.overhead_available }}{% endif %}
            </td>
        </tr>
    </tfoot>
</table>
